@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  background-color: #000;
  color: #fff;
}

.App {
  padding: 20px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.movie-item {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  margin: 10px;
  opacity: 0; /* Start with 0 opacity for GSAP animation */
}

.movie-item img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.movie-item h6 {
  margin: 10px 0 5px;
}

.movie-item p {
  margin: 0;
  color: #6c757d;
}

.favourite-icon, .watchlist-icon {
  cursor: pointer;
  color: #dc3545;
  margin-top: 10px;
}

/* App.css */
.hero-carousel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-carousel-overlay {
  position: absolute;
  bottom: 20%;
  left: 10%;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.hero-carousel-overlay h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-carousel-overlay p {
  font-size: 1.5rem;
}

.movie-item {
  position: relative;
}

.movie-item img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
